body{
	margin:0px;
	padding:0px;
}

#page_countents{
	border:1px solid hidden;
	margin-left:13%;
	margin-right:13%;
	height:80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#main{
	background-color:#66CDAA;
	border:1px solid hidden;
	height:68%;
	animation:colors 30s infinite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes colors{
	
	0%{background-color:#00688B;}
	10%{background-color:#CD1076;}
	20%{background-color:#CD2626;}
	30%{background-color:#8B1A1A;}
	40%{background-color:##53868B;}
	50%{background-color:#CD1076;}
	60%{background-color:#EE1289;}
	70%{background-color:#FF1493;}
	80%{background-color:#00688B;}
	100%{background-color:#E9967A;}
	
}

#hadder{
	border:1px solid hidden;
	background-color:#676565;
	padding-left:13%;
	padding-top:3px;
	padding-right:26%;
	padding-bottom:3px;
	width:100%;
	position:fixed;
	height:11%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.50);

}
#page_name,#login,#signup{
	display:inline;
}


#page_name_link{
	text-decoration:none;
	font-family:Papyrus, fantasy;
	color:white;
	font-size:48px;

	
}

#login{
	text-decoration:none;
	margin-left:45%;
	color:white;
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	
}
#signup{
	text-decoration:none;
	padding-left:20px;
	color:white;
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

a.vst:link, vst:visited{
    padding: 8px 10px; 
    text-decoration: none;
    display: inline-block;
	border-radius:3px;
}

a.vst:hover, vst:active{
	background-color:#848282;
}


#left_countent{
	border:1px solid hidden;
	float:left;
	width:35%;
	height:78%;
	margin-left:13%;'
	text-align:center;
	
	
}

#left_div_countent{
	color:white;
	font-family:Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-weight:normal;
	font-size:45px;
	margin-top:9%;
}

#get_started{
	border:2px solid white;
	padding:15px;
	padding-left:55px;
	padding-right:55px;
	border-radius:4px;
	text-decoration:none;
	color:white;
    font-family:Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;	
    font-size:28px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#right_countent{
	border:1px solid hidden;
	margin-left:48.5%;
	height:100%;
	padding-top:5%;
}

#image{
	height:417px;
}


table{
	width:100%;
}

a.table_link{
	text-decoration:none;
	color:#B6B2B2;
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:16px;
}
a.table_link:hover{
	text-decoration:underline;
	
}

#footer1{
	border:1px solid #444343;
	background-color:#444343;
	height:32%
}

#footer2{
	border:1px solid pink;
	margin-left:12%;
	margin-right:12%;
}

#footer3{
	border:1px solid hidden;
	margin-left:12%;
	float:left;
	width:55%;
	padding-top:40px;
	padding-left:3px;
}


#footer4{
	border:1px solid hidden;
	height:44%;
	margin-left:947px;
	margin-right:12%
}

#last_countent{
	color:#8E8E8E;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	text-align:center;
	padding-top:20px;
}

#last_footer{
	border:1px solid hidden;
}

.page_name_footer{
	text-decoration:none;
	color:#B6B2B2;
	font-family:Papyrus, fantasy;
    font-size:45px;
	padding-top:30px;
}



